.btns {
    @include buttonStyles;
}

.categoryWrapper {
    width: 85%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catBoxColor0 {
    background-color: #cbc0d3;
}
.catBoxColor1 {
    background-color: #efd3d7;
}

.catBoxColor2 {
    background-color: #dee2ff;
}

.catBoxColor3 {
    background-color: lighten(#8e9aaf, 15);
}



.categoryBoxWrapper {
    border: 1px solid black;
    margin: 20px;
    width: 350px;
    min-height: 250px;
    opacity: 0.8;
}

.categoryBox {
    // border: 1px solid red;
    width: 100%;
}

.deleteBoxWrapper {
    text-align: right;
}

.catTitle {
    @include textStyle($medium-font);
    overflow-wrap: break-word;
    display: inline-block;
    width: 230px;
}

.catTitleWrapper {
    text-align: left;
    &:hover .deleteCatTitleBtn {
        opacity: 1;
    }
}

.catCheckBox {
    @include inputTextStyle($small-font);
    vertical-align: top;
    margin-left: 20px;
}

.deleteCatTitleBtn {
    width: 30px;
    opacity: 0;
    vertical-align: top;
    padding: 0;
}

.newCatBtn.btns {
    width: 350px;
    height: 245px;
    border: 1px solid black;
    margin: 20px;
    font-size: $medium-font;
}

.catTitleInput {
    @include inputTextStyle($medium-font);
    width: 80%;
    margin: 10px;
    font-family: $primary-font;
}
