.btns {
    @include buttonStyles;
}

.categoryWrapper {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categoryBoxWrapper {
    border: 1px solid black;
    margin: 20px;
    width: 350px;
    min-height: 250px;
}

.categoryBox {
    // border: 1px solid red;
    width: 100%;
}

.deleteBoxWrapper {
    text-align: right;
}

.catTitle {
    @include textStyle($large-font);
    margin-left: 25px;
    overflow-wrap: break-word;
    display: inline-block;
    width: 250px;
}

.deleteCatTitleWrapper {
    text-align: left;
    &:hover .deleteCatTitleBtn {
        opacity: 1;
    }
}

.deleteCatTitleBtn {
    width: 50px;
    opacity: 0;
    vertical-align: top;
}

.newCatBtn.btns {
    width: 350px;
    height: 245px;
    border: 1px solid black;
    margin: 20px;
    font-size: $medium-font;
}

.catTitleInput {
    @include inputTextStyle($large-font);
    width: 80%;
    margin: 10px;
    font-family: $primary-font;
}
