.focusTitle {
    @include headingStyle($medium-font);
    margin-bottom: 30px;
}

.focusTitleInput {
    @include inputTextStyle($large-font);
    width: 400px;
    border-bottom: 2px solid black;
    text-align: center;
    font-family: $secondary-font;
}

.focusForm h2 {
    display: inline-block;
    @include headingStyle($large-font);
}

.strikedOut {
    text-decoration: line-through;
}
