html {
    font-size: 62.5%;
}

body {
    // background: url('assets/journal.jpeg');
    background: url('assets/blackWhite.jpeg');
    background-attachment: fixed;
}

:focus,
button:focus {
    outline-color: transparent;
    outline-style: none;
}
