.categoryWrapper {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newCategoryBox {
    border: 1px solid black;
    width: calc(80% / 3);
}
